@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Montserrat';
    src: url("./assets/fonts/montserrat/Montserrat-VariableFont_wght.ttf");
}

@font-face {
    font-family: 'Fraunces';
    src: url("./assets/fonts/fraunces/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf");
}